.App {
  margin: 10px;
}

header h1{
  margin-bottom: 0;
}
header p{
  margin-top: 0;
}

.mainbody{
  border: 1px solid grey;
  padding: 10px;
}

.subbody{
  border: 1px solid grey;
  margin-left: 20px;
  padding: 10px;
}